* {
  margin: 0;
  padding: 0;
}
/* .content{
    display: none;
} */
header {
  height: 100px;
  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
#title {
  display: flex;
  color: #fff;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
  /* justify-content: center;   align items in center in horizontal */
}
nav {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  height: auto;
  align-items: center;
}
#navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 10px;
}
#navbar li {
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
#navbar li:hover {
  background-color: black;
  color: white;
}
#search-icon {
  height: 20px;
  padding-right: 20px;
  cursor: pointer;
}
#bill-board {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
.c1 {
  display: flex;
}
.c1 .sub1 {
  margin-left: 20px;
  align-items: center;
}
.c1 .sub2 {
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}
.c1 .sub3 {
  margin-left: 35px;
  font-weight: 100;
  color: rgb(79, 79, 79);
}
.c2 {
  display: flex;
}
.c2 .subc2 {
  color: rgb(79, 79, 79);
}
.icon {
  height: 20px;
}
.svg {
  height: 15px;
}
#main {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  background-color: #f9f9f9;
}

.one {
  background-image: url(resources/cai-fang-HDjVjyVHMbk-unsplash.jpg);
  height: 380px;
  width: 350px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: transform 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.one:hover {
  transform: scale(1.1);
}





.two {
  background-image: url(resources/daniil-silantev-XQO0MBtUihk-unsplash.jpg);
  height: 380px;
  width: 240px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: transform 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.two:hover {
  transform: scale(1.1);
}


.mega34 {
  height: 380px;
  width: 260px;
  /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  margin: 10px;
}
.three {
  background-image: url(resources/pascal-bullan-7Yma4EszCjo-unsplash.jpg);
  height: 48%;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: end;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.three:hover {
  transform: scale(1.1);
}

.four {
  background-image: url(resources/pawel-czerwinski-8RV896V7dgc-unsplash.jpg);
  height: 48%;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: end;
  margin-top: 16px;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.four:hover {
  transform: scale(1.1);
}

.five {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #f9f9f9;
  height: 400px;
}
.small_div {
  position: relative;
  height: 450px;
  overflow-y: scroll;
}
button {
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 55px;
  width: 120px;
}
.image {
  height: 75px;
  width: 75px;
  margin: 5px;
  background: url(resources/tommao-wang-K0k-0SVF-xA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec {
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  background-size: auto;
  margin: 3px;
}
button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: black;
  color: white;
}
.div1,
.div3,
.div2 {
  color: white;
  margin: 2px;
}
.one  .headline {
  font-size: 24px;
}
.two .headline{
    font-size: 22px;
}
.three  .headline{
    font-size: 20px;
}
.four  .headline{
    font-size: 20px;
}

.tags {
  list-style: none;
  display: inline-flex;
  font-size: 10px;
}
.tags li {
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}


